:root {
    box-sizing: border-box;
    --color-primary: #030712;
    --color-second: #00ADB5;
    --color-gray-50: #111827;
    --color-gray-100: #1f2937;
    --color-gray-200: #374151;
    --color-gray-600: #d1d5db;
    --color-gray-900: #f9fafb;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --spacing: 0.25rem;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    /* position: relative; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1rem;
    background: var(--color-primary);
    color: var(--color-gray-900);
    line-height: 1.5;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    /* grid-template-rows: 50px minmax(500px, auto) minmax(500px, auto); */
    /* margin: 1rem 12vw; */
    transition: var(--transition);
    /* max-width: 1440px; */
    height: 100vh;
}

/* Header */
header {
    position: relative;
}

.container-header {
    position: absolute;
    right: 0;
    left: 0;
    /* padding: 16px 32px; */
    margin: 0 80px;
}

.container-header .nav-header-group {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 10;
}

/* .container-header #my-name {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-left: 90px;
} */

.container-header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    padding: 0 80px;
}

.container-header .nav-group {
    display: flex;
    gap: 2rem;
}

.container-header .side-bar {
    color: var(--color-gray-600);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    padding: 16px;
}

li {
    list-style: none;
}

.container-header .nav-link {
    list-style: none;
    padding: 0 1.5rem;
    text-decoration: none;
    color: var(--color-gray-600);
    font-size: 18px;
    letter-spacing: var(--spacing);
    font-weight: bold;
}

.container-header .nav-header-group .download-cv {
    color: var(--color-gray-50);
    background-color: var(--color-gray-900);
    gap: 8px;
    padding: 6px 16px;
    margin: 0 5rem;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.container-header .nav-header-group li {
    transition: var(--transition);
}

.container-header .nav-group li:hover {
    transform: scale(1.5);
}

.container-header .nav-link:hover {
    color: var(--color-second);
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 10rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: var(--color-gray-100);
    backdrop-filter: blur(15px);
    border-radius: var(--radius);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: auto;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .download-cv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Responsive design */
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@media screen and (max-width: 992px) {

    .nav-header-group .nav-group .nav-link,
    .nav-bar .download-cv {
        display: none;
    }

    .nav-header-group .side-bar {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-center {
    width: 100%;
    margin: 0 auto;
    max-width: auto-fit;
    padding: 96px 80px;
}

.infor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    position: relative;
    height: 100vh;
    place-items: center;
}

.infor #personal-info {
    position: relative;
}

.infor #personal-info h1 {
    font-size: 50px;
    margin-bottom: -30px;
}

.infor #personal-info h4 {
    color: var(--color-second);
}

.btn {
    text-decoration: none;
}

.infor #personal-info .contact-btn {
    display: inline-block;
    color: var(--color-gray-900);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 10px;
    cursor: pointer;
    border-radius: var(--radius);
    transition: var(--transition);
    letter-spacing: var(--spacing);
}

.infor #personal-info .contact-btn:hover {
    color: var(--color-primary);
    background-color: var(--color-gray-900);
}

.infor #personal-info .location-info {
    align-items: center;
    padding: 16px 0;
}

.infor #personal-info .fa-location-dot {
    color: var(--color-gray-600);
}

.infor #personal-info .social-icons {
    list-style: none;
    display: flex;
    position: absolute;
    margin: 0;
    left: 0;
    padding: 0;
}

.social-icon {
    color: var(--color-gray-600);
    font-size: 30px;
    padding-right: 20px;
    transition: var(--transition);
}

.social-icon:hover {
    color: var(--color-second);
}

.infor .personal-img {
    width: 320px;
    height: 360px;
    position: relative;
}

.infor .personal-img img {
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 1;
    width: 280px;
    height: 320px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.background-img {
    position: absolute;
    background: var(--color-gray-200);
}

.infor .personal-img .background-img-info {
    width: 280px;
    height: 320px;
    top: 90px;
    left: 120px;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background: var(--color-gray-50);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
}

.section-title {
    margin-top: 5.5rem;
    color: var(--color-gray-600);
    background: var(--color-gray-200);
    border-radius: 25px;
    padding: 0 20px;
    text-align: center;
    width: max-content;
}

.section-title h2 {
    font-size: 14px;
    line-height: 20px;
}


#about-me .section-about {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#about-me .section-about .about-img {
    position: relative;
    width: 440px;
    height: 520px;
}

#about-me .section-about .about-img img {
    position: absolute;
    width: 400px;
    height: 480px;
    z-index: 1;
    top: 0;
    left: 40px;
    box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 1);
}

#about-me .section-about .background-img-about {
    width: 400px;
    height: 480px;
    top: 40px;
    left: 0;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    width: 100%;
}

#projects .section-project .card-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 48px;
}

#projects .section-project .project-card {
    background: var(--color-gray-100);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#projects .section-project .project-card .project-img {
    background: var(--color-gray-200);
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .section-project .project-card .background-img-project {
    position: absolute;
    width: 85%;
    height: 80%;
    background: var(--color-gray-100);
}

#projects .section-project .project-card img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#projects .section-project .project-card .project-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 48px;
}

#projects .section-project .project-card .tech-use {
    padding: 0;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

#projects .section-project .project-card .tech-tag {
    background: var(--color-gray-200);
    border-radius: 12px;
    text-align: center;
    width: max-content;
    padding: 2px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gray-50);
    width: 100%;
}

#skills .section-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

#skills .skill-info {
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    width: 100%;
}

#contact .section-contact {
    width: 30rem;
    margin-top: -5rem;
}

#contact #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact #contact-form .contact-input {
    background: var(--color-gray-100);
    border-radius: var(--radius);
    border: 1px solid var(--color-gray-200);
    width: 100%;
    margin: 10px 0;
    padding: 1.5rem;
    text-shadow: none;
    color: var(--color-gray-900);
    opacity: 0.6;
}

#contact .contact-button {
    background: var(--color-gray-200);
    border-radius: var(--radius);
    border: 1px solid var(--color-gray-200);
    color: var(--color-gray-900);
    width: 100%;
    margin: 10px 0;
    padding: 1rem;
    cursor: pointer;
}

/* Footer */
.section-footer {
    display: grid;
    place-items: center;
    padding: 0;
}

.section-footer .social-icons {
    display: flex;
}